/* //////////////////////////////////// */
/* //////////////General////////////// */
/* //////////////////////////////////// */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #7e7e7e;
  /* --accent-color: rgb(145, 141, 141); */
  --accent-color: rgb(3, 133, 115, 0.185);
  --dark-color: #333;
}

body,
h1,
h2,
p,
ul,
li,
header,
nav,
main,
footer {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 4.4rem;
}
.container {
  position: relative;
}
.hidden {
  display: none !important;
}
/* //////////////////////////////////// */
/* //////////////Hero Section////////////// */
/* //////////////////////////////////// */

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.2rem 3.2rem;
  font-size: 2rem;
  align-items: center;
  font-weight: 500;
}
.navigation-items {
  display: flex;
  justify-content: space-evenly;
  gap: 3.2rem;
  list-style: none;
  text-transform: capitalize;
  flex-wrap: wrap;
}

.menu-button {
  display: none;
}
.menu-box {
  width: fit-content;
  position: fixed;
  top: 0rem;
  right: 0;
  padding: 1.2rem;
  background-color: var(--accent-color);
  z-index: 1;
  height: 100%;
  width: 100%;
  background: var(--dark-color);
  color: white;
  display: grid;
}
.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-transform: capitalize;
  justify-content: start;
  padding: 3.2rem;
  gap: 6.2rem;
  font-size: 2.4rem;
  background: transparent;
  transition: all 1s;
}
.menu-item {
  padding: 1.2rem 3.2rem;
  border-radius: 1.8rem;
}
.menu-item:hover {
  background-color: var(--accent-color);
}
.close {
  justify-self: right;
}
.logo_image {
  height: 6rem;
}
.navigation-items {
  list-style: none;
  display: flex;
}

.navigation-item {
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  height: 3rem;
}

.navigation-item:hover .navigation-item {
  font-weight: 400;
}
.navigation-item:hover {
  font-weight: 600 !important;
  scale: 1.01;
}
/* ////////Hero////////// */
.hero-section {
  /* background: linear-gradient(to right, rgb(1, 152, 163), orange); */
  /* background-color: #9e9e9e; */
  background-color: var(--primary-color);
  padding: 1.2rem 2.2rem 9.2rem 5.2rem;
  font-weight: 700;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.hero-image {
  /* flex: 1 15rem; */
  margin: 0 auto;
  animation: image 5s linear;
  position: relative;
  animation: projectInFromRight 3s forwards;
  align-self: baseline;
  border-radius: 25%;
  min-width: 25rem;
}

.header {
  padding: 3.2rem;
  animation: projectInFromLeft 3s forwards;
}
h1 {
  font-size: 4.4rem;
}
h3 {
  font-size: 2.4rem;
}

.department {
  font-size: 2.4rem;
  font-weight: 600;
}
.department,
h1,
h3 {
  margin-bottom: 3.2rem;
  text-transform: capitalize;
}
.btn {
  padding: 1rem 3.2rem;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-right: 3.2rem;
  width: 20rem;
  margin-top: 3.2rem;
  border-radius: 0.9rem;
}

/* //////////////////////////////////// */
/* //////////////Profile////////////// */
/* //////////////////////////////////// */
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.8rem;
  align-items: center;
  padding: 3.2rem;
  overflow: hidden;
}

.profile img {
  flex: 0 0 30rem;
  height: 30rem;
  border-radius: 50%;
}
.basic-detail {
  flex: 0 0 50rem;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  gap: 2.4rem;
}
.basic-detail a {
  text-decoration: none;
}
.basic-detail strong {
  margin-right: 1.2rem;
}
.basic-detail p {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.2rem;
}
/* //////////////////////////////////// */
/* //////Qualification///////////////// */
/* //////////////////////////////////// */
.education-details {
  box-shadow: 0 0 0.3rem rgba(17, 17, 17, 0.068);
  padding: 3.2rem;
}
.education-details h1 {
  width: max-content;
  margin: 3.2rem;
}
.schools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3.2rem;
  gap: 3.2rem;
}
.school:hover {
  transform: translateY(-2rem);
}
.education-details img {
  width: 100%;
}
.school {
  font-size: 1.8rem;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  flex: 0 0 30rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.089);
  padding: 1.2rem;
}
.school-image {
  margin-top: 3.2rem;
}
/* //////////////////////////////////// */
/* //////Projects////////////////////// */
/* //////////////////////////////////// */
.projects-bar {
  display: flex;
  width: 90%;
  scrollbar-width: thin;
  gap: 3.2rem;
  justify-content: space-around;
  padding: 3.2rem;
  margin: 0 auto;
  overflow-x: hidden;
}
.projects-bar:hover {
  overflow-x: scroll;
}
.project-image {
  width: 30rem;
  height: 20rem;
}

.project-box {
  display: grid;
  height: 45rem;
  width: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  justify-content: start;
  padding: 3.2rem;
}

.project {
  position: absolute;
  top: 0;
  width: 92%;
  height: 100%;
  transition: transform 1s;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 9fr;
  align-items: center;
}
.project > img {
  /* Only for images that have different size than project */
  width: 75%;
  object-fit: cover;
  margin-left: 6.2rem;
  object-fit: cover;
  margin-left: 6.2rem;
}
.project-image {
  cursor: pointer;
}
.active {
  filter: brightness(0.5);
}
.project-box h1 {
  grid-column: 1/-1;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem;
}
.project-description {
  line-height: 1.8;
  width: 100%;
  font-size: 1.8rem;
  justify-self: center;
}
.portfolio {
  width: 95%;
}
/* //////////////////////////////////// */
/* //////////////Contact////////////// */
/* //////////////////////////////////// */
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 6.2rem;
  padding: 3.2rem;
  width: 92.75%;
}
.links {
  display: flex;
  gap: 1.2rem;
  margin-top: 3.2rem;
  flex-wrap: wrap;
}
.contact-form-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name email";
  gap: 2rem;
  border: 1px solid #3e3e3e;
  padding: 3.2rem;
  border-radius: 1.8rem;
}
.contact-form-box input {
  padding: 1rem 0.2rem;
}
.send,
.contact-form-box input,
.contact-form-box textarea,
.contact-form-box button {
  grid-column: 1/-1;
  border-radius: 1.2rem;
  padding: 1.2rem 3.2rem;
  border: none;
  outline: none;
  background-color: var(--accent-color);
}
.send {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 1.6rem;
  max-width: 20rem;
  padding: 1rem 3.2rem;
  background-color: var(--accent-color);
  border-radius: 1.2rem;
  margin: 0 auto;
  text-align: center;
}
#name {
  grid-area: name;
}
#email {
  grid-area: email;
}
.submit-button {
  padding: 1.2rem 0.2rem;
  cursor: pointer;
}
.contact-image {
  width: 25rem;
}
.link-box {
  margin-bottom: 4.2rem;
}

/* //////////////////////////////////// */
/* //////////////Biography///////////// */
/* //////////////////////////////////// */

.brief-bio {
  width: 90%;
  padding: 3.2rem;
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.details p {
  line-height: 1.8;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brief-bio h1 {
  font-size: 4.4rem;
}
.brief-bio p strong {
  font-size: 2.4rem;
  font-weight: 700;
}
.languages {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.biography {
  grid-column: 1/-1;
  grid-row: 2/3;
  padding: 3.2rem 3.2rem;
  height: auto;
  text-transform: capitalize;
  grid-column: 1/3;
  grid-row: 2/3;
  align-self: center;
  line-height: 1.8;
  font-size: 1.8rem;
}
.brief-bio h1 {
  margin-left: 3.2rem;
}
.details {
  grid-row: 3/4;
  align-self: center;
  justify-self: start;
  width: 100%;
}
.skills-box {
  grid-row: 3/4;
  padding: 1.2rem;
}
header {
  grid-column: 1/3;
  background-color: var(--dark-color);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.skills {
  list-style: none;
  width: 100%;
}
.skills li {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  justify-content: space-around;
}
/* //////////////////////////////////// */
/* //////////////Footer////////////// */
/* //////////////////////////////////// */
footer {
  padding: 3.2rem;
  text-transform: capitalize;
  text-align: center;
  background-color: var(--dark-color);
}
.footer-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.footer-logo {
  background-color: aquamarine;
  width: fit-content;
  height: 4rem;
  margin: 3.2rem auto;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  padding: 1rem 3.2rem;
  border-radius: 1.2rem;
}

.motto,
.copy-right {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 1.8;
}

/* //////////////////////////////////// */
/* //////////////Animations////////////// */
/* //////////////////////////////////// */
.animation-element {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s, transform 0.5s;
}

.animation-visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes projectInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes projectInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.sticky {
  position: fixed;
  background-color: #7e7e7e;
  width: -webkit-fill-available;
  top: 0;
  left: 0;
  z-index: 9999;
}
